<!DOCTYPE html>
<html>

<head>
  <title>Games Page</title>
  <link rel="stylesheet" type="text/css" href="/styles/theme.css" />
  <script src="/scripts/jquery.js"></script>
  <script src="/scripts/paths.js"></script>
  <script src="/scripts/ClientTest.js"></script>
  <script src="/scripts/index.js"></script>
  <script src="/scripts/game.js"></script>
</head>

<body>
  <h1>Games</h1>
  <h2>All</h2>
  <ul id="allGames"></ul>
  <button id="deleteGame">Delete</button>
  <div id="createForm">
    <h2>Create New</h2>
    <input type="text" id="name" placeholder="Name" />
    <br>
    <button id="create">Create</button>
  </div>
</body>

</html>