<!DOCTYPE html>
<html>

<head>
  <title>Climb Homepage</title>
  <link rel="stylesheet" type="text/css" href="/styles/theme.css" />
  <script src="/scripts/jquery.js"></script>
  <script src="/scripts/paths.js"></script>
  <script src="/scripts/ClientTest.js"></script>
  <script src="/scripts/index.js"></script>
</head>

<body>
  <div class="username">
    User
    <div id='username' hidden=true>
      USERNAME
    </div>
    <div id="login-form">
      <form id="user-login" action="http://localhost:8081/user/logIn" method="POST">
        <input type="email" id="email" name="email" placeholder="email" />
        <input type="password" id="password" name="password" placeholder="password" />
        <input type="submit" value="Log In" />
      </form>
    </div>
    <div id='signout' hidden=true>
      <input type="button" onclick="signOut()" value="Sign Out" />
    </div>
    <div id="signup-form">
      <input type="email" id="signup-email" placeholder="Email" />
      <input type="text" id="signup-username" placeholder="Username" />
      <input type="text" id="signup-password" placeholder="Password" />
      <button id="signup-submit">Sign Up</button>
    </div>
  </div>
  <hr>
  <ul>
    <li><a href="">Home</a></li>
    <li><a href="league">Leagues</a></li>
    <li><a href="season">Seasons</a></li>
    <li><a href="game">Games</a></li>
    <li><a href="match">Matches</a></li>
    <li><a href="user">Users</a></li>
  </ul>
</body>

</html>