<!DOCTYPE html>
<html>

<head>
  <title>Leagues Page</title>
  <link rel="stylesheet" type="text/css" href="/styles/theme.css" />
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="/scripts/ClientTest.js"></script>
  <script src="/scripts/league.js"></script>
</head>

<body>
  <h1>Leagues</h1>
  <ul id="joinedLeagues">
  </ul>
  <hr>
  <div id="createForm">
    Create New
    <br>
    <input type="text" id="name" placeholder="Name" />
    <br>
    <textarea id="description" placeholder="Description"></textarea>
    <br>
    <button id="create">Create</button>
  </div>
  <div id="joinForm">
    Join
    <ul id="otherLeagues">
    </ul>
  </div>

</body>

</html>