<!DOCTYPE html>
<html>

<head>
  <title>Leagues Page</title>
  <link rel="stylesheet" type="text/css" href="/styles/theme.css" />
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="/scripts/ClientTest.js"></script>
  <script src="/scripts/paths.js"></script>
  <script src="/scripts/league.js"></script>
</head>

<body>
  <h1>Leagues</h1>
  <h2>All</h2>
  <ul id="allLeagues"></ul>
  <button id="deleteLeague">Delete</button>
  <h2>Member Of</h2>
  <ul id="joinedLeagues">
  </ul>
  <hr>
  <div id="joinForm">
    <h2>Join</h2>
    <input type="text" id="searchLeagueName" placeholder="League Name" />
    <button id="searchLeagueButton">Join</button>
  </div>
  <hr>
  <div id="createForm">
    <h2>Create New</h2>
    <input type="text" id="name" placeholder="Name" />
    <br>
    <textarea id="description" placeholder="Description"></textarea>
    <br>
    <button id="create">Create</button>
  </div>


  <button id="test">Test</button>
  <button id="load">Load</button>
</body>

</html>