<!DOCTYPE html>
<html>

<head>
  <title>Matches Page</title>
  <link rel="stylesheet" type="text/css" href="/styles/theme.css" />
  <script src="/scripts/jquery.js"></script>
  <script src="/scripts/paths.js"></script>
  <script src="/scripts/ClientTest.js"></script>
  <script src="/scripts/paths.js"></script>
  <script src="/scripts/index.js"></script>
  <script src="/scripts/match.js"></script>
</head>

<body>
  <h1>Matches</h1>
  League
  <select id="leagues"></select>
  <br>
  Season
  <select id="seasons"></select>
  <br>
  Player 1
  <select id="player1"></select>
  <input type="number" id="player1Score" />
  <br>
  Player 2
  <select id="player2"></select>
  <input type="number" id="player2Score" />
  <br>
  <button id="submit">Submit</button>
</body>

</html>