<!DOCTYPE html>
<html>

<head>
  <title>Climb Homepage</title>
  <link rel="stylesheet" type="text/css" href="/styles/theme.css" />
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script>
$(document).ready(function() {
  $("#driver").click(function(event) {
    logIn();
  });
});
</script>
</head>

<body>
  <input type="button" onclick="test()" value="TEST"/>


  <input type = "button" id = "driver" value = "Loadata" />
  <h3>Users</h3>
  <form action="http://localhost:8081/user/listAll" method="GET">
    List All Users
    <input type="submit" />
  </form>
  <br />
  <form action="http://localhost:8081/userDeleteAll" method="POST">
    Delete All Users
    <input type="submit" />
  </form>
  <br />
  <form action="http://localhost:8081/userLogIn" method="POST">
    Log In
    <input type="email" name="email" placeholder="email" />
    <input type="password" name="password" placeholder="password" />
    <input type="submit" />
  </form>
  <br />
  <form action="http://localhost:8081/userSignUp" method="POST">
    Sign Up
    <input type="email" name="email" placeholder="email" />
    <input type="text" name="username" placeholder="username" />
    <input type="password" name="password" placeholder="password" />
    <input type="submit" />
  </form>
  <h3>Leagues</h3>
  <form action="http://localhost:8081/leagueListAll" method="GET">
    List All Leagues
    <input type="submit" />
  </form>
  <br />
  <form action="http://localhost:8081/leagueCreate" method="POST">
    Create League
    <input type="text" name="name" placeholder="name" />
    <input type="text" name="description" placeholder="description" />
    <input type="email" name="adminEmail" placeholder="admin email" />
    <input type="submit" />
  </form>
  <h3>Games</h3>
  <form action="http://localhost:8081/gameListAll" method="GET">
    List All Games
    <input type="submit" />
  </form>
  <br />
  <form action="http://localhost:8081/gameCreate" method="POST">
    Create Game
    <input type="text" name="name" placeholder="name" />
    <input type="text" name="type" placeholder="type" />
    <input type="submit" />
  </form>
  <h3>Matches</h3>
  <form action="http://localhost:8081/matchListAll" method="POST">
    List All Matches
    <input type="text" name="league" placeholder="league" />
    <input type="text" name="game" placeholder="game" />
    <input type="submit" />
  </form>
  <br />
  <form action="http://localhost:8081/matchCreate" method="POST">
    Create Match
    <input type="text" name="league" placeholder="league" />
    <input type="text" name="game" placeholder="game" />
    <input type="text" name="player1" placeholder="Player 1 Username" />
    <input type="number" name="player1Score" placeholder="Player 2 Score" />
    <input type="text" name="player2" placeholder="Player 2 Username" />
    <input type="number" name="player2Score" placeholder="Player 2 Score" />
    <input type="submit" />
  </form>

<p id="username"></p>

<p id="demo">A Paragraph</p>

<button type="button" onclick="myFunction()">Try it</button>
<script src="/scripts/ClientTest.js"></script>

</body>

</html>