<!DOCTYPE html>
<html>

<head>
  <title>Users Page</title>
  <link rel="stylesheet" type="text/css" href="/styles/theme.css" />
  <script src="/scripts/jquery.js"></script>
  <script src="/scripts/paths.js"></script>
  <script src="/scripts/ClientTest.js"></script>
  <script src="/scripts/paths.js"></script>
  <script src="/scripts/index.js"></script>
  <script src="/scripts/user.js"></script>
</head>

<body>
  <h1>Users</h1>
  <ul id="users"></ul>
  <input type="text" id="deleteUser" />
  <button id="deleteButton">Delete</button>
</body>

</html>